<!DOCTYPE html>
<html>
  <head>
    <title>SimpleChat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Home</h1>
    <h2>ChatRooms</h2>
    <div class="container"></div>
  </body>
</html>
