<!DOCTYPE html>
<html>
  <head>
    <title>SimpleChat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>SimpleChat</h1>
    <p>Welcome to SimpleChat</p>
    <h2>Login</h2>
    <div class="container">
      <form name="login" action="/user/login" method="post" class="login-form">
        <label for="email">email</label><br />
        <input name="email" type="email" class="input" required /><br />
        <label for="password">password</label><br />
        <input type="password" name="password" class="input" required /><br />
        <button id="loginButton" type="submit">Login</button>
      </form>
      <form action="/user/signup" method="get">
        <button id="signupBtn" type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
