<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Create an Accout</h1>
      <div class="container">
        <form name="signupForm" action="/user/signup" method="post" class="login-form">
          <label for="email">email</label><br />
          <input type="email" name="email" class="input" required /><br />
          <label for="password">password</label><br />
          <input type="password" name="password" class="input" required /><br />
          <button id="signupSubmitBtn" type="submit" class="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>

<script>
  function disableAll() {
    console.log('disableAll');
    const signupSubmitBtn = document.querySelector('#signupSubmitBtn');
    signupSubmitBtn.disabled = true;
  }

  function enableAll() {
    console.log('enableAll');
    const signupSubmitBtn = document.querySelector('#signupSubmitBtn');
    signupSubmitBtn.disabled = false;
  }

  // init
  window.onpageshow = function() {
    enableAll();
  };

  // prevent from further user action
  document.addEventListener('submit', function(event) {
    disableAll();
  });
</script>
